/*inicio estilos index  */
.container {
  max-width: 700px;

}

.titulo-index {
  padding-top: 20px;

}

.btn {
  margin-bottom: 20px;
}

.titulos-principal {
  background-image: url(img/1.svg), url(img/5.jpg);
  background-color: blue;
  background-size: cover;
  background-position: center;
  padding-left: 50px
}

.titulo-menu {
  padding: 40px;

}

.parrafo-index {
  margin: 0;
  max-width: 400px;

}


/* fin de estilos index */

/*inicio de estilos contacto  */

.imagen-contacto{
  margin-bottom: 70px;
}










/* fin de estilos contacto */